.footer {
    margin-top: 100px;
    background-color: #F9F9FB;
    &-main {
        padding-top: 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        &::after {
            position: absolute;
            content: " ";
            bottom: -20px;
            left: 0;
            width: 1220px;
            background-color: #C4C4C4;
            height: 1px;
        }
    }
    &-list {
        list-style: none;
        padding: 0;
    }
    &-desc {
        width: 400px;
        padding: 26px 0 30px 0;
        font-size: 18px;
    }
    &-item {
        text-align: left;
    }
    &-left {
        text-align: left;
    }
    &-contact {
        display: flex;
        align-items: center;
        margin-top: 40px;
        justify-content: center;
    }
    &-image {
        padding-left: 25px;
        display: inline-flex;
        text-align: center;
        object-fit: cover;
    }
}